# Importing the Libraries

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Filters").getOrCreate()

In [6]:
df_pyspark = spark.read.csv("Food Demand.csv", header=True, inferSchema=True)

In [7]:
df_pyspark.show()

+-------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
|     id|week|center_id|meal_id|checkout_price|base_price|emailer_for_promotion|homepage_featured|num_orders|
+-------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
|1000000|   3|      157|   2760|        233.83|    231.83|                    0|                0|       149|
|1000001| 100|      104|   2956|        486.03|    583.03|                    0|                0|       161|
|1000002| 143|       75|   1971|        328.86|    327.86|                    0|                0|       149|
|1000003|  41|       24|   2539|        145.53|    145.53|                    0|                0|       540|
|1000004|  45|       83|   2539|         95.06|    120.34|                    0|                0|       271|
|1000005| 101|       65|   1754|        291.03|    290.03|                    0|                0|       541|
|1000006| 107|      153|   2126|        533.53|    533.53|                    0|                0|        53|
|1000007|  11|       50|   1062|        160.11|    159.11|                    0|                0|       432|
|1000008| 114|       57|   1962|        467.54|    639.23|                    1|                1|       486|
|1000009|  68|       36|   1216|        406.43|    408.43|                    0|                0|        28|
|1000010|  10|       76|   2760|        243.53|    241.53|                    0|                0|       108|
|1000011|  18|      104|   2867|        618.86|    619.86|                    0|                0|        53|
|1000012|  33|       36|   2494|        256.08|     243.5|                    0|                1|        94|
|1000013| 140|       88|   1571|        485.03|    631.53|                    0|                0|        81|
|1000014| 105|       81|   2139|        290.03|    290.03|                    0|                0|        55|
|1000015| 112|       43|   2290|        286.15|    288.15|                    0|                0|      1863|
|1000016| 131|       77|   2290|        255.11|    257.11|                    0|                0|       418|
|1000017|   9|       80|   2826|        298.76|    298.76|                    0|                0|       771|
|1000018| 101|       92|   1445|        459.78|    709.13|                    0|                0|        27|
|1000019|  18|       52|   1311|        158.14|    158.14|                    0|                0|       742|
+-------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
only showing top 20 rows

### Filter Operations

In [13]:
# Base price of the food which is greater than 500 

df_pyspark.filter("base_price>=500.0").show()

+-------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
|     id|week|center_id|meal_id|checkout_price|base_price|emailer_for_promotion|homepage_featured|num_orders|
+-------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
|1000001| 100|      104|   2956|        486.03|    583.03|                    0|                0|       161|
|1000006| 107|      153|   2126|        533.53|    533.53|                    0|                0|        53|
|1000008| 114|       57|   1962|        467.54|    639.23|                    1|                1|       486|
|1000011|  18|      104|   2867|        618.86|    619.86|                    0|                0|        53|
|1000013| 140|       88|   1571|        485.03|    631.53|                    0|                0|        81|
|1000018| 101|       92|   1445|        459.78|    709.13|                    0|                0|        27|
|1000027| 140|       97|   1571|        486.03|    629.53|                    0|                0|       242|
|1000029|  83|      174|   1445|        669.33|    668.33|                    0|                0|       108|
|1000034|  90|      186|   2581|        486.03|    641.23|                    0|                0|       109|
|1000036|   4|       81|   1558|        611.13|    612.13|                    0|                0|       136|
|1000042| 105|       11|   1558|        678.03|    678.03|                    0|                0|        81|
|1000044| 120|      124|   1558|        698.43|    699.43|                    0|                0|        54|
|1000048|  42|       73|   2867|        629.53|    630.53|                    0|                0|        27|
|1000052|  86|      126|   1558|        498.64|    678.03|                    0|                0|       216|
|1000067|   1|       58|   1962|        583.03|    610.13|                    1|                1|       229|
|1000076|  28|      110|   1962|        640.23|    641.23|                    0|                0|       150|
|1000078|  33|       39|   1445|        596.58|    709.13|                    0|                0|        53|
|1000082| 104|       43|   1571|        582.03|    581.03|                    0|                0|        14|
|1000087|  56|       51|   1558|        678.03|    679.03|                    0|                0|        95|
|1000103| 113|       99|   1962|        466.63|    697.43|                    1|                0|      1390|
+-------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
only showing top 20 rows

In [14]:
# Selecting only the week and num_orders

df_pyspark.filter("base_price>=500.0").select(['week','num_orders']).show()

+----+----------+
|week|num_orders|
+----+----------+
| 100|       161|
| 107|        53|
| 114|       486|
|  18|        53|
| 140|        81|
| 101|        27|
| 140|       242|
|  83|       108|
|  90|       109|
|   4|       136|
| 105|        81|
| 120|        54|
|  42|        27|
|  86|       216|
|   1|       229|
|  28|       150|
|  33|        53|
| 104|        14|
|  56|        95|
| 113|      1390|
+----+----------+
only showing top 20 rows

Another method

In [16]:
df_pyspark.filter((df_pyspark['base_price']>=500)&(df_pyspark['base_price']<=600)).select(['checkout_price','base_price']).show()

+--------------+----------+
|checkout_price|base_price|
+--------------+----------+
|        486.03|    583.03|
|        533.53|    533.53|
|        582.03|    581.03|
|        503.43|    504.43|
|        533.53|    581.03|
|        581.03|    582.03|
|        509.31|    508.31|
|        581.03|    581.03|
|        533.53|    583.03|
|         427.8|    508.31|
|        581.03|    581.03|
|        387.03|    505.43|
|         428.8|    508.31|
|        315.25|    514.13|
|        435.59|    552.93|
|        260.96|    504.43|
|        324.95|    501.52|
|        521.89|    549.08|
|        570.36|    571.36|
|         438.5|    553.93|
+--------------+----------+
only showing top 20 rows

In [18]:
# Which are not in the range 500 to 600

df_pyspark.filter(~((df_pyspark['base_price']>=500)&(df_pyspark['base_price']<=600))).select(['checkout_price','base_price']).show()

+--------------+----------+
|checkout_price|base_price|
+--------------+----------+
|        233.83|    231.83|
|        328.86|    327.86|
|        145.53|    145.53|
|         95.06|    120.34|
|        291.03|    290.03|
|        160.11|    159.11|
|        467.54|    639.23|
|        406.43|    408.43|
|        243.53|    241.53|
|        618.86|    619.86|
|        256.08|     243.5|
|        485.03|    631.53|
|        290.03|    290.03|
|        286.15|    288.15|
|        255.11|    257.11|
|        298.76|    298.76|
|        459.78|    709.13|
|        158.14|    158.14|
|        243.47|    292.03|
|        153.26|    153.26|
+--------------+----------+
only showing top 20 rows