In [6]:
import pandas as pd
import pyspark

Creating the Pyspark Session

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [9]:
spark

In [10]:
df_spark = spark.read.csv("Food demand.csv")

In [11]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string]

In [12]:
df_spark.show()

+-------+----+---------+-------+--------------+----------+--------------------+-----------------+----------+
|    _c0| _c1|      _c2|    _c3|           _c4|       _c5|                 _c6|              _c7|       _c8|
+-------+----+---------+-------+--------------+----------+--------------------+-----------------+----------+
|     id|week|center_id|meal_id|checkout_price|base_price|emailer_for_promo...|homepage_featured|num_orders|
|1000000|   3|      157|   2760|        233.83|    231.83|                   0|                0|       149|
|1000001| 100|      104|   2956|        486.03|    583.03|                   0|                0|       161|
|1000002| 143|       75|   1971|        328.86|    327.86|                   0|                0|       149|
|1000003|  41|       24|   2539|        145.53|    145.53|                   0|                0|       540|
|1000004|  45|       83|   2539|         95.06|    120.34|                   0|                0|       271|
|1000005| 101|       65|   1754|        291.03|    290.03|                   0|                0|       541|
|1000006| 107|      153|   2126|        533.53|    533.53|                   0|                0|        53|
|1000007|  11|       50|   1062|        160.11|    159.11|                   0|                0|       432|
|1000008| 114|       57|   1962|        467.54|    639.23|                   1|                1|       486|
|1000009|  68|       36|   1216|        406.43|    408.43|                   0|                0|        28|
|1000010|  10|       76|   2760|        243.53|    241.53|                   0|                0|       108|
|1000011|  18|      104|   2867|        618.86|    619.86|                   0|                0|        53|
|1000012|  33|       36|   2494|        256.08|     243.5|                   0|                1|        94|
|1000013| 140|       88|   1571|        485.03|    631.53|                   0|                0|        81|
|1000014| 105|       81|   2139|        290.03|    290.03|                   0|                0|        55|
|1000015| 112|       43|   2290|        286.15|    288.15|                   0|                0|      1863|
|1000016| 131|       77|   2290|        255.11|    257.11|                   0|                0|       418|
|1000017|   9|       80|   2826|        298.76|    298.76|                   0|                0|       771|
|1000018| 101|       92|   1445|        459.78|    709.13|                   0|                0|        27|
+-------+----+---------+-------+--------------+----------+--------------------+-----------------+----------+
only showing top 20 rows

In [19]:
spark = spark.read.option('header','true')

In [21]:
df_spark = spark.csv("Food demand.csv")

In [22]:
df_spark.show()

+-------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
|     id|week|center_id|meal_id|checkout_price|base_price|emailer_for_promotion|homepage_featured|num_orders|
+-------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
|1000000|   3|      157|   2760|        233.83|    231.83|                    0|                0|       149|
|1000001| 100|      104|   2956|        486.03|    583.03|                    0|                0|       161|
|1000002| 143|       75|   1971|        328.86|    327.86|                    0|                0|       149|
|1000003|  41|       24|   2539|        145.53|    145.53|                    0|                0|       540|
|1000004|  45|       83|   2539|         95.06|    120.34|                    0|                0|       271|
|1000005| 101|       65|   1754|        291.03|    290.03|                    0|                0|       541|
|1000006| 107|      153|   2126|        533.53|    533.53|                    0|                0|        53|
|1000007|  11|       50|   1062|        160.11|    159.11|                    0|                0|       432|
|1000008| 114|       57|   1962|        467.54|    639.23|                    1|                1|       486|
|1000009|  68|       36|   1216|        406.43|    408.43|                    0|                0|        28|
|1000010|  10|       76|   2760|        243.53|    241.53|                    0|                0|       108|
|1000011|  18|      104|   2867|        618.86|    619.86|                    0|                0|        53|
|1000012|  33|       36|   2494|        256.08|     243.5|                    0|                1|        94|
|1000013| 140|       88|   1571|        485.03|    631.53|                    0|                0|        81|
|1000014| 105|       81|   2139|        290.03|    290.03|                    0|                0|        55|
|1000015| 112|       43|   2290|        286.15|    288.15|                    0|                0|      1863|
|1000016| 131|       77|   2290|        255.11|    257.11|                    0|                0|       418|
|1000017|   9|       80|   2826|        298.76|    298.76|                    0|                0|       771|
|1000018| 101|       92|   1445|        459.78|    709.13|                    0|                0|        27|
|1000019|  18|       52|   1311|        158.14|    158.14|                    0|                0|       742|
+-------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
only showing top 20 rows

In [23]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

Know about your Rows and Columns

In [25]:
df_spark.head(3)

[Row(id='1000000', week='3', center_id='157', meal_id='2760', checkout_price='233.83', base_price='231.83', emailer_for_promotion='0', homepage_featured='0', num_orders='149'),
 Row(id='1000001', week='100', center_id='104', meal_id='2956', checkout_price='486.03', base_price='583.03', emailer_for_promotion='0', homepage_featured='0', num_orders='161'),
 Row(id='1000002', week='143', center_id='75', meal_id='1971', checkout_price='328.86', base_price='327.86', emailer_for_promotion='0', homepage_featured='0', num_orders='149')]

In [26]:
df_spark.printSchema()

root
 |-- id: string (nullable = true)
 |-- week: string (nullable = true)
 |-- center_id: string (nullable = true)
 |-- meal_id: string (nullable = true)
 |-- checkout_price: string (nullable = true)
 |-- base_price: string (nullable = true)
 |-- emailer_for_promotion: string (nullable = true)
 |-- homepage_featured: string (nullable = true)
 |-- num_orders: string (nullable = true)